<div class="container" style="width: 640px; margin: 0 auto 0 auto">
	<%= image_tag @post.picture.url, class: 'img-fluid' %>
	<%= render 'form' %>
</div>

<!-- I need to include a cancel button here later that takes you back to your profile or the last post -->
